* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(18, 20, 20);
  --secondary-color: rgb(14, 51, 68);
}
body {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
}
  
.grid-container {
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
.square {
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  margin: 2px;
  filter: brightness(20%);
}

.square:hover {
  filter: brightness(200%);
}